<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>CompanyServletCreate</display-name>
    <servlet-name>CompanyServletCreate</servlet-name>
    <servlet-class>company.web.servlet.CompanyServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServletCreate</servlet-name>
    <url-pattern>/CompanyServletCreate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CountryServletCreate</display-name>
    <servlet-name>CountryServletCreate</servlet-name>
    <servlet-class>country.web.servlet.CountryServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletCreate</servlet-name>
    <url-pattern>/CountryServletCreate</url-pattern>
  </servlet-mapping>
  
<servlet>
    <description></description>
    <display-name>FindNumericCity</display-name>
    <servlet-name>FindNumericCity</servlet-name>

    <servlet-class>user.web.servlet.FindNumericCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindNumericCity</servlet-name>
    <url-pattern>/FindNumericCity</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CityServletCreate</display-name>
    <servlet-name>CityServletCreate</servlet-name>
    <servlet-class>city.web.servlet.CityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServletCreate</servlet-name>
    <url-pattern>/CityServletCreate</url-pattern>
  </servlet-mapping>

    <servlet>
    <description></description>
    <display-name>IndustryServletCreate</display-name>
    <servlet-name>IndustryServletCreate</servlet-name>
    <servlet-class>industry.web.servlet.IndustryServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndustryServletCreate</servlet-name>
    <url-pattern>/IndustryServletCreate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>WMServletCreate</display-name>
    <servlet-name>WMServletCreate</servlet-name>
    <servlet-class>wm.web.servlet.WMServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WMServletCreate</servlet-name>
    <url-pattern>/WMServletCreate</url-pattern>
  </servlet-mapping>
 
    <servlet>
    <description></description>
    <display-name>EMServletCreate</display-name>
    <servlet-name>EMServletCreate</servlet-name>
    <servlet-class>em.web.servlet.EMServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMServletCreate</servlet-name>
    <url-pattern>/EMServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CompanyServletRead</display-name>
    <servlet-name>CompanyServletRead</servlet-name>
    <servlet-class>company.web.servlet.CompanyServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServletRead</servlet-name>
    <url-pattern>/CompanyServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CountryServletRead</display-name>
    <servlet-name>CountryServletRead</servlet-name>
    <servlet-class>country.web.servlet.CountryServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletRead</servlet-name>
    <url-pattern>/CountryServletRead</url-pattern>
  </servlet-mapping>
 
    <servlet>
    <description></description>
    <display-name>CityServletRead</display-name>
    <servlet-name>CityServletRead</servlet-name>
    <servlet-class>city.web.servlet.CityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServletRead</servlet-name>
    <url-pattern>/CityServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>IndustryServletRead</display-name>
    <servlet-name>IndustryServletRead</servlet-name>
    <servlet-class>industry.web.servlet.IndustryServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndustryServletRead</servlet-name>
    <url-pattern>/IndustryServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>WMServletRead</display-name>
    <servlet-name>WMServletRead</servlet-name>
    <servlet-class>wm.web.servlet.WMServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WMServletRead</servlet-name>
    <url-pattern>/WMServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>EMServletRead</display-name>
    <servlet-name>EMServletRead</servlet-name>
    <servlet-class>em.web.servlet.EMServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMServletRead</servlet-name>
    <url-pattern>/EMServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CompanyServletUpdate</display-name>
    <servlet-name>CompanyServletUpdate</servlet-name>
    <servlet-class>company.web.servlet.CompanyServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServletUpdate</servlet-name>
    <url-pattern>/CompanyServletUpdate</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>CountryServletUpdate</display-name>
    <servlet-name>CountryServletUpdate</servlet-name>
    <servlet-class>country.web.servlet.CountryServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletUpdate</servlet-name>
    <url-pattern>/CountryServletUpdate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CityServletUpdate</display-name>
    <servlet-name>CityServletUpdate</servlet-name>
    <servlet-class>city.web.servlet.CityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServletUpdate</servlet-name>
    <url-pattern>/CityServletUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>IndustryServletUpdate</display-name>
    <servlet-name>IndustryServletUpdate</servlet-name>
    <servlet-class>industry.web.servlet.IndustryServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndustryServletUpdate</servlet-name>
    <url-pattern>/IndustryServletUpdate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>WMServletUpdate</display-name>
    <servlet-name>WMServletUpdate</servlet-name>
    <servlet-class>wm.web.servlet.WMServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WMServletUpdate</servlet-name>
    <url-pattern>/WMServletUpdate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>EMServletUpdate</display-name>
    <servlet-name>EMServletUpdate</servlet-name>
    <servlet-class>em.web.servlet.EMServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMServletUpdate</servlet-name>
    <url-pattern>/EMServletUpdate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CompanyServletDelete</display-name>
    <servlet-name>CompanyServletDelete</servlet-name>
    <servlet-class>company.web.servlet.CompanyServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServletDelete</servlet-name>
    <url-pattern>/CompanyServletDelete</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CountryServletDelete</display-name>
    <servlet-name>CountryServletDelete</servlet-name>
    <servlet-class>country.web.servlet.CountryServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletDelete</servlet-name>
    <url-pattern>/CountryServletDelete</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CityServletDelete</display-name>
    <servlet-name>CityServletDelete</servlet-name>
    <servlet-class>city.web.servlet.CityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServletDelete</servlet-name>
    <url-pattern>/CityServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>IndustryServletDelete</display-name>
    <servlet-name>IndustryServletDelete</servlet-name>
    <servlet-class>industry.web.servlet.IndustryServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndustryServletDelete</servlet-name>
    <url-pattern>/IndustryServletDelete</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>WMServletDelete</display-name>
    <servlet-name>WMServletDelete</servlet-name>
    <servlet-class>wm.web.servlet.WMServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WMServletDelete</servlet-name>
    <url-pattern>/WMServletDelete</url-pattern>
  </servlet-mapping>

    <servlet>
    <description></description>
    <display-name>EMServletDelete</display-name>
    <servlet-name>EMServletDelete</servlet-name>
    <servlet-class>em.web.servlet.EMServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMServletDelete</servlet-name>
    <url-pattern>/EMServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>FindCountry</display-name>
    <servlet-name>FindCountry</servlet-name>
    <servlet-class>country.web.servlet.FindCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCountry</servlet-name>
    <url-pattern>/FindCountry</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>FindCity</display-name>
    <servlet-name>FindCity</servlet-name>
    <servlet-class>city.web.servlet.FindCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCity</servlet-name>
    <url-pattern>/FindCity</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FindIndustry</display-name>
    <servlet-name>FindIndustry</servlet-name>
    <servlet-class>industry.web.servlet.FindIndustry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindIndustry</servlet-name>
    <url-pattern>/FindIndustry</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>FindCompany</display-name>
    <servlet-name>FindCompany</servlet-name>
    <servlet-class>company.web.servlet.FindCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCompany</servlet-name>
    <url-pattern>/FindCompany</url-pattern>
  </servlet-mapping>

    <servlet>
    <description></description>
    <display-name>FindWM</display-name>
    <servlet-name>FindWM</servlet-name>
    <servlet-class>wm.web.servlet.FindWM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindWM</servlet-name>
    <url-pattern>/FindWM</url-pattern>
  </servlet-mapping>

    <servlet>
    <description></description>
    <display-name>FindEM</display-name>
    <servlet-name>FindEM</servlet-name>
    <servlet-class>em.web.servlet.FindEM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEM</servlet-name>
    <url-pattern>/FindEM</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
